<div class="flex px-6 bg-blue-600 items-center text-white w-full">

  <div class="flex flex-row gap-2 items-center flex-grow-1">
    <div>
      <mat-icon class="rotate-[15deg]" aria-hidden="true" fontIcon="home"></mat-icon>
    </div>
    <div class="items-center">
      <span class='underline text-[22px]'>Room</span>
      <span class='font-bold text-[55px]'>4</span>
      <span class='underline text-[30px]'>Cheap</span>
    </div>
  </div>

  <div class="flex flex-row items-center">
    <a routerLink="/" mat-button>Home</a>
    <a mat-button>About</a>
    <a mat-button>Contact</a>

  <!-- Show Logout on navbar if authenticated -->
  <ng-container *ngIf="authService.currentUser$ | async as user; else loginLink">
     <button mat-button (click)="logout()">Logout</button>
  </ng-container> 
  <!-- Show Login on navbar if not authenticated -->
  <ng-template #loginLink>
     <a routerLink="/login" mat-button>Login</a>
  </ng-template>

 </div>
</div>
