<div class="login-container">
  <mat-card class="login-card">
    <h2 class="title">Login</h2>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="username" placeholder="Enter your username" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password" placeholder="Enter your password" />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onLogin()" class="full-width">
      Login
    </button>
  </mat-card>
</div>
